:root {
    --primary-bg: linear-gradient(#2E335A, #696FA0);
    --secondary-bg: linear-gradient(#2E335A, #1C1B33);
    --text-color: #fff;
    --accent-color: #817fa0;
    --border-radius: 0.75rem;
    --font-inter: 'Inter', sans-serif;
}

body {
    font-family: var(--font-inter);
    background: var(--secondary-bg);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    overflow-x: hidden;
}

.weather-app-container {
    border-radius: var(--border-radius);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100vw;
    display: grid;
    justify-content: center;
    padding: 1.5rem;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
    }

    @media (max-width: 758px) {
        padding: 1rem;
    }

    .left-panel,
    .right-panel {
        background-color: var(--primary-bg);
        border-radius: var(--border-radius);
    }

    .left-panel {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        background-color: #00000013;
        padding: 1rem;

        @media (max-width: 758px) {
            width: 100%;
            padding: 0.5rem;
        }

        .search-bar {
            background-color: #00000013;
            border-radius: var(--border-radius);
            padding: 0.75rem 1rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            input {
                background: none;
                border: none;
                outline: none;
                color: var(--text-color);
                flex-grow: 1;
                font-size: 1rem;

                &::placeholder {
                    color: var(--text-color);
                    opacity: 0.7;
                }
            }

            .search-icon {
                color: var(--text-color);
                opacity: 0.7;
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        .current-weather {
            background-color: var(--secondary-bg);
            border-radius: var(--border-radius);
            padding: 2rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            height: 100%;

            .temperature {
                font-size: 8rem;
                font-weight: 600;
                line-height: 1;

                @media (max-width: 758px) {
                    font-size: 4rem;
                }
            }

            .city {
                font-size: 4rem;
                font-weight: 500;

                @media (max-width: 758px) {
                    font-size: 2rem;
                }
            }

            .condition {
                font-size: 2rem;
                opacity: 0.8;

                @media (max-width: 758px) {
                    font-size: 1rem;
                }
            }

            img {
                width: 8rem;
                height: 8rem;
            }
        }

        .weather-details {
            background-color: var(--secondary-bg);
            border-radius: var(--border-radius);
            padding: 1.5rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            .detail-item {
                display: flex;
                flex-direction: column;
                gap: 12px;
                font-size: 1rem;
                opacity: 0.9;
                padding: 1rem;
                background-color: #00000013;
                border-radius: var(--border-radius);

                .horizont {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }

                .icon {
                    color: var(--accent-color);
                    width: 1.25rem;
                    height: 1.25rem;
                }

                span {
                    font-weight: 500;

                    @media (max-width: 758px) {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .right-panel {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        grid-column: span 2;

        @media (max-width: 758px) {
            padding: 0.5rem;
        }

        .forecast-section,
        .wind-compass {
            background-color: #00000013;
            border-radius: var(--border-radius);
            padding: 1.5rem;
        }

        .forecast-section {
            overflow-x: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;

            h3 {
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .forecast-cards {
                display: flex;
                align-items: center;
                gap: 2rem;
                padding: 1rem;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;

                &::-webkit-scrollbar {
                    height: 6px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 3px;
                }

                &::-webkit-scrollbar-track {
                    background-color: rgba(0, 0, 0, 0.1);
                }

                .forecast-card {
                    flex: 0 0 auto;
                    border-radius: var(--border-radius);
                    padding: 3.5rem 3rem;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 0.9rem;
                    background-color: rgba(0, 0, 0, 0.07);
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

                    img {
                        width: 40px;
                        height: 40px;
                    }

                    .time,
                    .date {
                        font-weight: 500;
                    }

                    .temp {
                        font-weight: 600;
                        font-size: 1rem;
                    }
                }
            }
        }

        .wind-compass {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            h3 {
                font-size: 1.2rem;
                font-weight: 600;
            }

            .compass-inner {
                position: relative;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background-color: var(--secondary-bg);
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);

                &>div {
                    display: flex;
                    gap: 8px;
                    align-items: flex-end;


                    .arrow {
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 20px solid var(--text-color);
                        transform-origin: bottom center;
                        transition: transform 0.5s ease-out;
                    }

                    .wind-speed-display {
                        font-size: 1.8rem;
                        font-weight: 700;
                    }

                    .wind-unit {
                        font-size: 0.8rem;
                        opacity: 0.7;
                        margin-bottom: 3px;
                    }
                }
            }
        }
    }
}

// Message Box
#message-box {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #dc2626;
    color: white;
    padding: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: none;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;

    &.show {
        display: block;
    }

    button {
        margin-left: 0.5rem;
        font-weight: bold;
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
    }
}