.weekly-weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px !important;
  margin: 0 auto;
  max-width: 1200px;
  flex-wrap: wrap;
  gap: 12px;

  .weekly-card {
    background-color: white;
    padding: 12px;
    border-radius: 12px;
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    box-shadow: $box-shadow;
    padding: 16px;

    .emojy {
      font-size: 30px;
    }

    .celsius {
      text-align: center;
      color: #72d0ff;
      font-size: 18px;
      font-weight: bold;
      font-family: "Fredoka", sans-serif;
    }
    .weather-type {
      color: #c1c6cf;
      font-size: 15px;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
    }
  }
}
